PORT=5000
NODE_ENV=production

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/swag_e_swaad?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:3000,https://swag-e-swaad.vercel.app

RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
